*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(255,164,164);
background: radial-gradient(circle, rgba(255,164,164,1) 0%, rgba(125,203,238,1) 100%);
}
.contenedor{
    height: 40%;
    width: 30%;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
    color:rgb(68, 187, 243) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
label{
    font-size: 25px;
}
input{
    border: 1px solid rgb(240, 135, 135);
    font-size: 20px;
    color:rgb(68, 187, 243) ;

}
.nombre2{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre3{
    width: 80%;
    height: 50%;

}
.apellido2{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.apellido3{
    width: 80%;
    height: 50%;
}
.edad2{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.edad3{
    width: 80%;
    height: 50%;

}
.boton2{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.boton3{
width: 20%;
height: 50%;
font-size: 20px;
border: none;
border-radius: 15px;
background-color: rgb(223, 127, 127);
color: white;

}

.tabla{
    height: 30%;
    width: 50%;
    border: solid 1px gray;
    display: flex;
    background-color: white;

}
.nombres{
    width: 33%;
    height: 100%;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    color:rgb(100, 198, 243) ;
}
.apellidos{
    width: 33%;
    height: 100%;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    color:rgb(97, 204, 253) ;

}
.edades{
    width: 34%;
    height: 100%;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    color:rgb(98, 203, 252) ;

}
h2{
    text-align: center;
    border:1px solid;
    color:  rgb(223, 127, 127);

}